table {
  border-collapse: collapse;

  td {
    padding: 0.5em;
  }

  th {
    padding: 0.5em;
    text-align: left;
  }

  tbody {
    border: solid black 1px;
  }

  .squish {
    white-space: nowrap;
  }
}
