
<section class="section" id="title_section">
  <div class="container">
    <h1>
      Nick and Bre's Amazing Wedding
      <small class="subtitle">August 28, 2016 / Brix Restaurant / Vancouver</small>
    </h1>

    <%= link_to 'RSVP', households_path, :class => 'btn btn-default' %>
  </div>
</section>

<section class="section" id="story_section">
  <div class="container">
    <h1>Love at first bite</h1>
    <h2>The story of delicious nachos</h2>
    <p>This is where we talk about how you took one bite of my nachos and fell
    madly in love with me.</p>
  </div>
</section>

<section class="section" id="save_the_date_section">
  <div class="container">
    <h1>
      <small class="subtitle">Save the Date</small>
      August 28, 2016
    </h1>
  </div>
</section>

<section class="section" id="wedding_details_section">
  <div class="container">
    <h1>
      Wedding Details
    </h1>

    <p>We're getting married in Downtown Vancouver, at Brix Restaurant</p>
  </div>
</section>
