<section class="section" id="title_section">
  <div class="container">
      <h1>
      Nick and Bre's Amazing Wedding
      <small class="subtitle">August 28, 2016 / Brix Restaurant / Vancouver</small>
    </h1>

    <%= link_to 'RSVP', households_path, :class => 'btn btn-default' %>
  </div>
</section>

<section class="section" id="story_section">
  <div class="container">
    <h1>Love at first bite</h1>
    <h2>The story of delicious nachos</h2>
    <p>On July 7, 2010, at a cocktail party hosted by their mutual boss from the Museum of Anthropology, Nicholas put a tray of the strangest nachos Brianne had ever seen down in front of her. That tray sparked a conversation, and by the end of the night, Nick had fooled Bre into giving him her number. Nearly five years later, on December 25, 2014, in matching Christmas sweaters, Nick asked Bre to marry him.</p>
  </div>
</section>

<section class="section" id="save_the_date_section">
  <div class="container">
    <h1>
      <small class="subtitle">Save the Date</small>
      August 28, 2016
    </h1>
  </div>
</section>

<section class="section" id="wedding_details_section">
  <div class="container">
    <h1>
      Wedding Details
    </h1>
    <p>Our wedding will be held at Brix Restaurant <a href="https://www.google.ca/maps/place/Brix+Restaurant+%26+Wine+Bar/@49.2756459,-123.1221135,17z/data=!3m1!4b1!4m2!3m1!1s0x548673d68c4bdc97:0x5faa2cc063dde9ef" target="_blank">(1138 Homer Street)</a>, which is located in the neighbourhood of Yaletown in Vancouver, B.C.
    There will be limited seating during the ceremony so please offer your seat to those who may require one.</p>

    <h2>Schedule of Events</h2>
    <dl class="schedule">
      <dt class="timestamp">5:00pm</dt> <dd class="description">Ceremony</dd>
      <dt class="timestamp">5:30pm</dt> <dd class="description">Cocktails and Appetizers</dd>
      <dt class="timestamp">7:00pm</dt> <dd class="description">Dinner</dd>
      <dt class="timestamp">9:00pm</dt> <dd class="description">Dancing</dd>
    </dl>

    <h2>Directions</h2>
    <p>From downtown Vancouver, Brix Restaurant is easily accessible via transit, taxi, or by foot. There will be limited metered parking around Homer Street and neighbouring blocks.</p>
    <p><a href="https://www.google.ca/maps/place/Brix+Restaurant+%26+Wine+Bar/@49.2756459,-123.1221135,17z/data=!3m1!4b1!4m2!3m1!1s0x548673d68c4bdc97:0x5faa2cc063dde9ef" target="_blank"><u><i>Click here for directions</u></i></a>
  </div>
</section>

<section class="section" id="accommodations_section">
  <div class="container">
    <h1>Accommodations</h1>
    <p>To make your stay as easy as possible, we have reserved blocks of rooms at two hotels.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="hotel_block">
          <h1>
            <small class="subtitle"><b>Rosedale on Robson Suites</b></small>
          </h1>
          <p>This is a 3-star hotel in the center of downtown. It is 4-blocks away from Brix Restaurant and 4-blocks from the closest Skytrain station (Yaletown Roundhouse). All rooms are suites, complete with a kitchenette and living space. Group rates are $189 + tax for a one bedroom suite and $249 + tax for a two bedroom suite.
          Click here to see TripAdvisor Reviews.
          To book,</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="hotel_block">
          <h1>
            <small class="subtitle"><b>Sheraton Wall Centre Vancouver</b></small>
          </h1>
          <p>This is a 4-star hotel in the center of downtown. It is 6-blocks away from Brix Restaurant and 6-blocks from the closest Skytrain station (Vancouver City Centre). and all rooms are located in the newly renovated North Tower. Group rates are $229 + tax for a Single or Double room. Click here to see TripAdvisor reviews. To book,</p>
        </div>
      </div>
    </div>
    <p>Given the price of hotels, we also recommend <a href="https://www.airbnb.ca/c/nicholasj17?s=8" target="_blank">Airbnb</a> for unique Vancouver accomodation.<br/>
      We've even hooked you up with a credit towards your booking.</p>
  </div>
</section>
