<% content_for :page_nav do %>
  <li><a href="#story_section">Our Story</a></li>
  <li><a href="#save_the_date_section">Save the Date</a></li>
  <li><a href="#wedding_details_section">Details</a></li>
  <li><a href="#accommodations_section">Accommodations</a></li>
  <li><a href="#about_vancouver_section">Vancouver</a></li>
<% end %>

<section class="section" id="title_section">
  <div class="container">
      <h1>
      Nick and Bre's Amazing Wedding
      <small class="subtitle">August 28, 2016 / Brix Restaurant / Vancouver</small>
    </h1>

    <%#= link_to 'RSVP', households_path, :class => 'btn' %>
  </div>
</section>

<section class="section" id="story_section">
  <div class="container">
    <h1>Love at first bite</h1>
    <h2>The story of delicious nachos</h2>
    <p>On July 7, 2010, at a cocktail party hosted by their mutual boss from the Museum of Anthropology, Nicholas put a tray of the strangest nachos Brianne had ever seen down in front of her. That tray sparked a conversation, and by the end of the night, Nick had fooled Bre into giving him her number. Nearly five years later, on December 25, 2014, Nick asked Bre to marry him.</p>
    <div class="row">
      <div class="col-md-6">
        <h1>
          <small class="subtitle"><b>Nick</b></small>
        </h1>
        <ul class="list-unstyled">
          <li>… eats ghost peppers without flinching.</li>
          <li>… can name every part of the space shuttle.</li>
          <li>...regularly wakes up at 6am on Saturdays to run 16km.</li>
          <li>...has attended the Sasquatch music festival for 8 years in a row.</li>
          <li>... still goes trick-or-treating on Halloween.</li>
          <li>...climbed a mountain in Nepal when he was 17.</li>
        <span class="nick_avatar"></span>
        </ul>
      </div>
      <div class="col-md-6">
        <h1>
          <small class="subtitle"><b>Bre</b></small>
        </h1>
        <ul class="list-unstyled">
          <li>...is originally from Calgary. She hates country music but loves the rodeo.</li>
          <li>...helped excavate a Neanderthal skull one summer in Spain.</li>
          <li>...can’t resist dancing to 80’s music.</li>
          <li>...bakes a mean cheesecake.</li>
          <li>...once had dinner with Tongan royalty.</li>
        <span class="bre_avatar"><span class="bre_avatar_background"></span></span>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section" id="save_the_date_section">
  <div class="container">
    <h1>
      <small class="subtitle">Save the Date</small>
      August 28, 2016
    </h1>
  </div>
</section>

<section class="section" id="wedding_details_section">
  <div class="container">
    <h1>
      Wedding Details
    </h1>
    <h2>Location</h2>
    <ul class="list-inline button_list">
      <li><a href="http://brixvancouver.com/" target="_blank" class="btn">Brix Restaurant</a></li>
      <li><a href="https://maps.google.com/?daddr=Brix+Restaurant+%26+Wine+Bar, Vancouver&saddr=Current+Location" target="_blank" class="btn">Directions</a></li>
    </ul>
    <p>
      Our wedding will be held at Brix Restaurant (1138 Homer Street),
      located in the Yaletown neighbourhood of downtown Vancouver.
      From downtown Vancouver, Brix Restaurant is easily accessible via transit, taxi, or by foot.
      There will be limited metered parking around Homer Street and neighbouring blocks.
      Seating is also limited during the ceremony, so come early, but please offer
      your seat to those who may require one.
    </p>

    <h2>Schedule of Events</h2>
    <dl class="schedule">
      <dt class="timestamp">5:30pm</dt> <dd class="description">Ceremony</dd>
      <dt class="timestamp">6:00pm</dt> <dd class="description">Cocktails and Appetizers</dd>
      <dt class="timestamp">7:30pm</dt> <dd class="description">Dinner</dd>
      <dt class="timestamp">9:30pm</dt> <dd class="description">Dancing</dd>
    </dl>
  </div>
</section>

<section class="section" id="accommodations_section">
  <div class="container">
    <h1>Accommodations</h1>
    To make your stay as easy as possible, we've reserved blocks of rooms at two hotels.
    <div class="row">
      <div class="col-md-6">
        <div class="hotel_block">
          <h1>
            <small class="subtitle"><b>Rosedale on Robson Suites</b></small>
          </h1>
          <p>This is a 3-star hotel in the center of downtown. It is 4-blocks away from Brix Restaurant and the closest Skytrain station (Yaletown Roundhouse). All rooms are suites, complete with a kitchenette and living space. Group rates are $189 + tax for a one bedroom suite and $249 + tax for a two bedroom suite.</p>
          <p>To book, call 1-800-661-8870 and quote group code 602125 or book online.</p>
          <ul class="list-inline button_list">
            <li><a href="https://www.reservations-page.com/C00000/H08749/be.ashx?pc=602125&hid=8749&cid=0&acid=admin&unq=aa6b74ed-debd-43d1-93d8-5bd46137d1da" target="_blank" class="btn">Online Booking</a></li>
            <li><a href="https://maps.google.com/?daddr=Rosedale+on+Robson+Suite+Hotel, Vancouver&saddr=Current+Location" target="_blank" class="btn">Directions</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="hotel_block">
          <h1>
            <small class="subtitle"><b>Sheraton Wall Centre Vancouver</b></small>
          </h1>
          <p>This is a 4-star hotel in the center of downtown. It is 6-blocks away from Brix Restaurant and the closest Skytrain station (Vancouver City Centre). Group rates are $229 + tax for a Single or Double room.</p>
          <p>To book,</p>
          <ul class="list-inline button_list">
            <li><a href="http://brixvancouver.com/" target="_blank" class="btn">Online Booking</a></li>
            <li><a href="https://maps.google.com/?daddr=Brix+Restaurant+%26+Wine+Bar, Vancouver&saddr=Current+Location" target="_blank" class="btn">Directions</a></li>
          </ul>
        </div>
      </div>
    </div>
    <p>All rooms in the blocks will be released to the public on July 15, 2016, so make sure to book before then! Given the price of hotels, we also recommend <a href="https://www.airbnb.ca/c/nicholasj17?s=8" target="_blank">Airbnb</a> for unique Vancouver accommodation. We've even hooked you up with a credit towards your booking.</p>
  </div>
</section>

<section class="section" id="about_vancouver_section">
  <div class="container">
    <h1>About Vancouver</h1>
    <h2>Getting Around</h2>
    <h2>Attractions</h2>
    <h2>Restaurants and Bars</h2>
    <h2>Neighbourhoods to Explore</h2>
  </div>
</section>
