<section class="section" id="photo_upload_thank_you_section">
  <div class="container">
    <h1>Thanks for sharing!</h1>
    <p>We'll get your pictures posted as soon as possible. In the mean time, check out the photo gallery.</p>

    <%= render 'photos/upload_form' %>
  </div>
</section>
