
@mixin wire-button($colour, $textHoverColour) {
  background-color: transparent;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
  letter-spacing: 1pt;
  opacity: .9;

  color: $colour !important;
  border-color: $colour;
  background-color: transparent;

  &:hover {
    color: $textHoverColour !important;
    background-color: $colour;
  }

}
