@import 'buttons';

@mixin white-section {
  @include nav-colour(white, $bright-blue, $gold);
  .btn {
    @include wire-button($bright-blue, white);
  }

  input[type='text']{
    @include wire-button-input(#F0F0F0, #333);
  }

  textarea {
    background: #F0F0F0;
    border: none;
    box-shadow: none;
    resize: none;
  }
}

@mixin gold-section {
  color: white;
  background: $gold;
  text-shadow: 0 0 1px rgba(0,0,0,.3); // Make white text more visible on uncalibrated monitors

  a {
    color: $hot-pink;
    text-shadow: none;
  }

  .btn {
    text-shadow: 0 0 1px rgba(0,0,0,.3); // Make white text more visible on uncalibrated monitors
    @include wire-button(white, #333);

    &:hover {
      text-shadow: none;
    }
  }
}

@mixin navy-section {
  color: white;
  background: $navy-blue;

  @include nav-colour($navy-blue, $offwhite, $gold);

  a {
    color: $light-blue;
  }

  .btn {
    @include wire-button(white, #333);
  }

  input[type='text']{
    @include wire-button-input(white, #333);
  }
}

@mixin grey-section {
  color: #AAA;
  background: #333;

  .page_nav_colour_swap{
    background-color: #333;
  }
}

@mixin map-section($map_url) {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 0 21px rgb(228, 172, 47);
  position: relative;
  overflow: hidden;
  background-image: url($map_url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;

  @include nav-colour($gold, $light-gold, white);
}

@mixin black-and-white-section {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 0 21px #000;
  @include nav-colour(#333, $offwhite, $gold);

  color: white;
}

// As the page nav enters the new section, change the colours
@mixin nav-colour($background, $color, $active){
  overflow: hidden; // Fix bug where background would disappear in IE

  .page_nav_colour_swap{
    background-color: $background;
  }

  @at-root body[data-scrollspy-target="#{&}"] #page_nav {
    a{
      color: $color;
    }

    a:hover{
      color: $active;
    }

    .active a{
      color: $active;
    }
  }
}

@mixin parallax-background($image, $offset: 0, $scale: 200%) {
  background-attachment: fixed;
  background-position: center bottom;
  background-image: image_url($image);
  background-repeat: no-repeat;
  background-size: cover;

  @at-root .mobile & {
    background-attachment: scroll;
  }
}
