/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Halant);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

// LAYOUT
$inlay-padding: 20%;

html, body{
  height: 100%;
}

html{
  background-color: #112;
}
body{
  background: none;
  padding: 2em 0;
}

.paper {
  background-color: rgb(240,240,236);
  border-radius: 8px;
  box-shadow: inset 0 0 120px rgba(0,0,0,0.3);

  .inlay {
    border: 2px groove rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    margin: 15px 0px;
    padding: 0 $inlay-padding;
    height: 100%;
    width: 100%;
    position: relative;
  }
}

// TEXT
body{
  font-family: 'Source Sans Pro', sans-serif;
}
.paper {
  text-align: center;
}
.paper_title{
  font-family: 'Poiret One', sans-serif;
  color: #2c4a6e;
  font-size: 3.5em;
  margin-bottom: .5em;
  margin-left: -(100% / (100 - $inlay-padding - $inlay-padding)) * 20%;
  margin-right: -(100% / (100 - $inlay-padding - $inlay-padding)) * 20%;
}
fieldset {
  margin: 2em 0px;
}
fieldset legend{
  font-family: 'Halant', serif;
  font-size: 2em;
  color: rgba(150, 82, 0, 0.5);
  text-shadow: 0 0 10px rgba(255,264,159,.4);
}

// FORM
form{
  margin: 2em 0;

  .check_boxes, .radio_buttons {
    label {
      display: block;
    }
  }
  .checkbox, .radio {
    display: inline-block;
  }
  .checkbox + .checkbox, .radio + .radio {
      margin-left: 3em;
  }
  .form-saved{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
    padding: 15px;
    color: rgba(137, 191, 137, 0.65);
  }
}


// CUSTOM
.plain_text_input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #888;

  & + .plain_text_input{
    margin-left: 1em;
  }
}
