/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree ./application
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


// LAYOUT

.section {
  min-height: 400px;
  padding: 10% 0;

  text-align: center;

  p {
    text-align: justify;
  }
}

#page_nav{
  text-align: center;
}

// TEXT
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Merriweather:400,300);

h1, h2, h3, h4, h5{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  margin: 1em 0;
}

h1{
  font-size: 54px;
  text-transform: uppercase;
}

.subtitle{
  text-transform: uppercase;
  display: block;
  color: inherit;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4pt;
  line-height: 2em;
  margin: 1em 0;
}

body{
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

// NAV

body {
  position: relative;
  // padding-top: 70px;
}

#page_nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: 'Merriweather', serif;
  text-transform: lowercase;
  z-index: 1; // Place above map
  background-color: #213563;

  li {
    display: inline-block;

    a {
      transition: color 0.5s;
    }
    a:hover, a:active, a:focus {
      color: white;
      background-color: transparent;
      transition: color 0.15s;
    }
  }
  li.active{
    a {
      color: rgba(255,255,255,.85);
    }
  }
}
