@mixin avatar {
  display: inline-block;
  width: 300px;
  border-radius: 200px;
  height: 300px;
  margin-top: 2em;
}

.bre_avatar{
  @include avatar;
  background: image_url('bre_avatar.jpg') -160px top no-repeat;
}
.bre_avatar_background{
  display: block;
  height: 300px;
  position: relative;
  z-index: -1;
  background: image_url('bre_avatar_bg.jpg') top no-repeat;
  left: -160px;
  width: 500px;
}

.nick_avatar{
  @include avatar;
  background: image_url('nick_avatar.jpg') 40% top no-repeat;
}
