$navy-blue: rgb(33, 53, 99);
$gold: #D5AF76;

@mixin gold-section {
  color: white;
  background: $gold;
  text-shadow: 0 0 1px rgba(0,0,0,.3); // Make white text more visible on uncalibrated monitors

  a {
    color: rgb(183, 36, 158);
  }
}

@mixin navy-section {
  color: white;
  background: $navy-blue;

}

#title_section {
  @include navy-section;
}

#story_section {
}

#save_the_date_section {
  @include gold-section;
}

#wedding_details_section {
}

#accommodations_section {
  @include gold-section;
}

.hotel_block p {
  text-align: justify;
  margin: 0 15px 40px;
}

.schedule {
  .timestamp {
    margin-bottom: 0.25em;
    font-size: 0.9em;
    opacity: .7;
  }
  .description {
    margin-bottom: 1em;
  }
}
