@import 'sections', 'colours';

#title_section {
  @include navy-section;
}

#story_section {
  @include white-section;
}

#save_the_date_section {
  // @include map-section("http://maps.googleapis.com/maps/api/staticmap?scale=2&center=1138%20Homer%20Street,%20Vancouver&size=800x500&sensor=false&zoom=14&&maptype=roadmap&style=feature%3Aadministrative%7Celement%3Alabels%7Cvisibility%3Aoff%7C&style=feature%3Alandscape%7Celement%3Aall%7Chue%3A0xffad00%7Csaturation%3A50.2%7Clightness%3A-34.8%7Cgamma%3A1%7C&style=feature%3Apoi%7Celement%3Aall%7Chue%3A0xffc300%7Csaturation%3A54.2%7Clightness%3A-14.4%7Cgamma%3A1%7C&style=feature%3Apoi%7Celement%3Ageometry.fill%7Cvisibility%3Aon%7Chue%3A0xffd000%7C&style=feature%3Apoi%7Celement%3Alabels%7Cvisibility%3Aoff%7C&style=feature%3Aroad%7Celement%3Aall%7Cvisibility%3Aon%7C&style=feature%3Aroad%7Celement%3Ageometry.fill%7Cvisibility%3Aoff%7C&style=feature%3Aroad%7Celement%3Ageometry.stroke%7Cvisibility%3Aon%7C&style=feature%3Aroad%7Celement%3Alabels%7Cvisibility%3Aoff%7C&style=feature%3Aroad.highway%7Celement%3Aall%7Chue%3A0xFFAD00%7Csaturation%3A-19.8%7Clightness%3A-1.8%7Cgamma%3A1%7C&style=feature%3Aroad.highway.controlled_access%7Celement%3Aall%7Cvisibility%3Aon%7C&style=feature%3Aroad.arterial%7Celement%3Aall%7Chue%3A0xFFAD00%7Csaturation%3A72.4%7Clightness%3A-32.6%7Cgamma%3A1%7C&style=feature%3Aroad.local%7Celement%3Aall%7Chue%3A0xFFAD00%7Csaturation%3A74.4%7Clightness%3A-18%7Cgamma%3A1%7C&style=feature%3Atransit%7Celement%3Alabels%7Cvisibility%3Aoff%7C&style=feature%3Awater%7Celement%3Aall%7Chue%3A0x00FFA6%7Csaturation%3A-63.2%7Clightness%3A38%7Cgamma%3A1%7C");
  @include map-section(image_path('map.png'));
}

#wedding_details_section {
  @include white-section;
}

#accommodations_section {
  @include navy-section;
}

#footer_section {
  @include grey-section;
  min-height: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

// Hide the title section link without removing it so as not to mess up scrollspy
#page_nav a[href="#title_section"]{
  position: absolute;
  top: -100px;
}

.hotel_block {
  margin: 0 0 40px;

  p {
    text-align: justify;
  }
}

// Added a wider gutter between hotel blocks in columns
.col-md-6:last-child {
  .hotel_block {
    margin-left: 10px;
  }
}
.col-md-6:first-child {
  .hotel_block {
    margin-right: 10px;
  }
}

.button_list{
  margin: 1em 0;
}

.schedule {
  .timestamp {
    margin-bottom: 0.25em;
    font-size: 0.9em;
    opacity: .7;
  }
  .description {
    margin-bottom: 1em;
  }
}
