.one_at_a_time_list{
  position: relative;

  li {
    width: 100%;
    position: absolute;
    color: transparent;
    transition: color 0.5s;
  }
  li.show{
    color: inherit;
  }
}

// IE8
.no-opacity .one_at_a_time_list{
  li {
    visibility: hidden;
  }

  li.show {
    visibility: visible;
  }
}
