.one_at_a_time_list{
  position: relative;

  // Toggle to enable transition once we turn the list "on"
  &.on li{
    transition: color 0.5s;
  }

  li {
    width: 100%;
    position: absolute;
    color: transparent;
  }

  li.visible{
    color: inherit;
  }
}

// IE8
.no-opacity .one_at_a_time_list{
  li {
    visibility: hidden;
  }

  li.visible {
    visibility: visible;
  }
}
