<section class="section" id="rsvp_lookup_section">
  <div class="container">
  <% if @lookup_failure %>
    <h1 class="paper_title">I don't see you on my list.</h1>
    <h2>
      How are your first and last names spelled on the invitation?
    </h2>
    <% else %>
    <h1 class="paper_title">May I have your name please...</h1>
  <% end %>

  <%= form_tag lookup_households_path, :method => :post do %>
    <%= text_field_tag :name, params[:name], :placeholder => 'Name as it appears on the invitation', :size => 50 %>
    <%= submit_tag 'Find my invitation', :data => { :disable_with => "One moment please..." }, :class => 'btn' %>
  <% end %>

  <% if @lookup_failure %>
    <h2>
      <small>If you are unable to find your invitation, you can contact us at <a href="mailto:nickandbrewedding@gmail.com?Subject=RSVP" target="_top">nickandbrewedding@gmail.com</a></small>
    </h2>
  <% end %>

  </div>
</section>
